{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-used-vars": "warn",
        "no-console": "warn",
        "prefer-const": "error",
        "indent": [
            "warn",
            4
        ],
        "max-len": [
            "off",
            {
                "code": 120
            }
        ],
        "semi": [
            "warn",
            "always"
        ],
        "import/order": [
            "warn",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "unknown",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ],
                "newlines-between": "always-and-inside-groups"
            }
        ]
    }
}